---
layout: layouts/_default.njk
---

<main id="app">
  <div class="container">
    <h1>Below is a lazy loaded image</h1>
    <p>Scroll down to see the lazy loading take place</p>
    
    <div class="grid spaced">
      {% for i in range(0, 4) %}
        <div class="col-3">
          <img
            data-src="https://images.pexels.com/photos/164446/pexels-photo-164446.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            alt="Lazy Image"
            class="is-lazy-js"
            width="480"
          />
        </div>
      {% endfor %}
    </div>
    
    <h2>Dynamic data from SpaceX with lazy loading</h2>
    <launchpad></launchpad>
  </div>
</main>

{% block scripts %}
  <script src="/assets/js/main.js"></script>
{% endblock %}